.DS_Store
wp-config.php
wp-content/cache/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/themes/nsamr/.sass-cache/
wp-content/themes/nsamr/config.rb
wp-content/themes/nsamr/style.css
